.top-bar {
    // background: linear-gradient(90deg,blue, #4069a7);
    background: linear-gradient(90deg, #474753, #071a38);
    // background-color: #5a4cda;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .top-bar__logo {
        min-width: 200px;
        width: 70%;
        font-size: 2em;
        color: white;
        // max-width: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .top-bar__box {
        min-width: 280px;
        width: 300px;
        // max-width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}