@import '../../commons';

.start {
    height: 100%;
    background-color: $main-background;
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr / 1fr;
    justify-items: center;
    
    .start__new {
        grid-area: 2 / 1 / span 1 / span 1;
        display: flex;
        align-items: center;
    }

    .start__help {
        grid-area: 3 / 1 / span 1 / span 1;
        display: flex;
        align-items: flex-start;
    }
}