@import '../../../commons';


.button-box {

    .small {
        height: 40px;
        width: 85px;
        padding: 0.5em 0.75em;
        font-size: 1em;
    }

    .medium {
        padding: 1em 1em;
        font-size: 1em;
        width: 200px;
        height: 50px;
    }
    
    .large {
        padding: 1em 1em;
        font-size: 1em;
        width: 200px;
        height: 50px;
    }

    
    button {
        margin: 0 auto;
        display: block;
        position: relative;
        padding: 1em 3em;
        border: none;
        // border-radius: 5px;
        background-color: $button-background-color;
        color: $button-text-color;

        &:focus {
            outline: 0px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            transition: .25s all ease-out;
            // border-radius: 5px;
        }

        &:before {
            z-index: 3;
            top: 0;
            left: 0;
            width: 0%;
            height: 0%;
            border-top: solid 3px $button-border-color;
        }

        &:after {
            z-index: 3;
            top: 0;
            left: 0;
            width: 0%;
            height: 0%;
            border-left: solid 3px $button-border-color;
        }

        &:hover {
            &:before {
                width: 100%;
                height: 100%;
            }

            &:after {
                width: 100%;
                height: 100%;
            }

            span {
                &:before {
                    width: 100%;
                    height: 100%;
                }

                &:after {
                    width: 100%;
                    height: 100%;
                }
            }
        }


        span {
            &:before,
            &:after {
                content: '';
                position: absolute; // Tiempo de la transición
                transition: .25s all ease-out;
                // border-radius: 5px;
            }

            &:before {
                z-index: 3;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 0%;
                border-bottom: solid 3px $button-border-color;
            }

            &:after {
                z-index: 3;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 0%;
                border-right: solid 3px $button-border-color;
            }
        }
    }

    .start {
        text-shadow: 1px 1px 1px #000;
        background: linear-gradient(-90deg, #4069a7, #82bf83);
        color: white;
        &:before, &:after {
            border-color: #414141;
        }
        span:before, span:after {
            border-color: #414141;
        }
    }
    .red {
        background-color: red;
        color: black;
        &:before, &:after {
            border-color: black;
        }
        span:before, span:after {
            border-color: black;
        }
    }
    .green {
        background-color: greenyellow;
        color: black;
        &:before, &:after {
            border-color: black;
        }
        span:before, span:after {
            border-color: black;
        }
    }
}