.modal {
    position: fixed;
    background-color: #000000;
    opacity: 0.6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template: 1fr 6fr 1fr / 1fr 6fr 1fr;
    z-index: 100;

//    transform: translate(-50%, 0);
    .modal__area {
        grid-area: 2 / 2 / span 1 / span 1;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
    }
}