@import '../../commons';

.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template: 0px 1fr 30px / 1fr;

    main {
        overflow: auto;
    }
}