@import '../../commons';

.welcome {
    height: 100%;
    display: grid;
    grid-template-rows: 16fr 1fr 1fr;

    .welcome__slider-area {
        grid-area: 1 / 1 / span 3 / span 1;
    }

    .welcome__navigator {
        grid-area: 2 / 1 / span 1 / span 1;
        padding: 0 10%;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        div {
            font-size: $welcome-navigator-font-size;
            color: $welcome-text-color;
            cursor: pointer;
        }

        .welcome__navigator__balls {
            display: flex;
            cursor: default;
            span {
                min-width: 0.7em;
                min-height: 0.7em;
                border-radius: 50%;
                background-color: white;
                border: solid 1px white;
                margin: 5px;

                &.selected {
                    background-color: #571797;
                    border: solid 1px #6b4199;
                }
            }
        }
    }
}