@import '../../commons';

.welcome {
    height: 100%;
    display: grid;
    grid-template-rows: 16fr 1fr 1fr;

    .slide {
        grid-area: 1 / 1 / span 3 / span 1;
    }

    .welcome__navigator {
        grid-area: 2 / 1 / span 1 / span 1;
        padding: 0 10%;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        div {
            font-size: 1.7em;
            color: #ffffff;
            cursor: pointer;
        }

        .welcome__navigator__balls {
            
        }
    }
}